{% load static %}
<div class="row row-padding align-items-center">
  <div class="col-3">
    <a href="{% url 'accounts:details' slug=comment.user|slugify %}">
      <div class="row container-circle">
        <div class="circle">
          {% if comment.user.thumbnail %}
            <img src="{{ comment.user.thumbnail.url }}" alt="{{ comment.user }}" />
          {% else %}
            <img src="{% get_media_prefix %}commons/users/user.png" alt="{{ comment.user }}" />
          {% endif %}
        </div>
      </div>
    </a>
  </div>
  <div class="col-9">
    <div class="row row-padding name">
      <a href="{% url 'accounts:details' slug=comment.user|slugify %}"><h5>{{ comment.user }}</h5></a>
      <p class="text-time">Le {{ comment.created_on }}</p>
    </div>
    <div class="row row-padding bg-white">
      <p class="fst-italic">{{ comment.comment|linebreaks }}</p>
    </div>
  </div>
</div>
