{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% if post.thumbnail %}
      <div class="row img-bg" style="background:url('{{ post.thumbnail.url }}'"></div>
    {% endif %}
  </div>

  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'blog:list' %}">Le blog</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>{{ post.title|upper }}</h1>
      <span>
        <p>
          Par <a href="{% url 'accounts:details' slug=post.author|slugify %}">{{ post.author }}</a> <small>| <i class="bi bi-clock"></i> {{ post.created_on|date:'d N Y' }}</small>
          {% if post.created_on != post.last_updated %}
            <small>
              <i>
                (Mis à jour :{% if post.is_last_updated_past_due %}
                  le {{ post.last_updated|date:'d N à H:i' }})
                {% else %}
                  à {{ post.last_updated|date:'H:i' }})
                {% endif %}
              </i>
            </small>
          {% endif %}
        </p>
      </span>
    </div>

    <div class="row row-padding">
      <div class="col d-grid">
        <a class="btn btn-light" href="{% url 'blog:edit' slug=post.slug %}" role="button">Éditer</a>
      </div>
      <div class="col d-grid">
        <a class="btn btn-outline-danger" href="{% url 'blog:delete' slug=post.slug %}" role="button">Supprimer</a>
      </div>
    </div>

    <div class="row row-padding">
      {% if post.tags %}
        <div class="margin-bottom">
          <h5>
            {% for tag in post.tags.all %}
              <span class="badge rounded-pill">{{ tag.name }}</span>
            {% endfor %}
          </h5>
        </div>
      {% endif %}
      <p class="justify">{{ post.content|safe|linebreaksbr }}</p>
    </div>
  </div>
  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row row-padding"></div>
      <div class="row row-padding"></div>
    </div>
  </div>
{% endblock %}
