<div class="col margin-bottom">
  <div class="card h-100">
    {% if post.thumbnail %}
      <a href="{% url 'blog:post' slug=post.slug %}"><img src="{{ post.thumbnail.url }}" class="card-img-top img-fluid" alt="{{ post.title }}" /></a>
    {% else %}
      <a href="{% url 'blog:post' slug=post.slug %}"><div class="card-img-top img-fluid"></div></a>
    {% endif %}
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="headline">
            <a href="{% url 'blog:post' slug=post.slug %}"><h5 class="card-title">{{ post.title|title }}</h5></a>
          </div>
        </div>
      </div>
      <p class="card-text">{{ event.location }}</p>
      <p class="card-text">
        {% if article.summary %}
          <small class="text-body-secondary">{{ post.summary|truncatewords_html:20 }}</small>
        {% else %}
          <small class="text-body-secondary">{{ post.content|truncatewords_html:20 }}</small>
        {% endif %}
      </p>
      {% if post.tags %}
        {% for tag in post.tags.all %}
          <span class="badge rounded-pill">{{ tag.name }}</span>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
