{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ post.title }}</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% if post.thumbnail %}
      <div class="row img-bg" style="background:url('{{ post.thumbnail.url }}'"></div>
    {% endif %}
  </div>

  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'blog:list' %}">Le blog</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>{{ post.title|upper }}</h1>
      <span>
        <p>
          Par <a href="{% url 'accounts:details' slug=post.author|slugify %}">{{ post.author }}</a> <small>| <i class="bi bi-calendar-event"></i> {{ post.created_on|date:'d N Y' }}</small>
          {% if post.created_on != post.last_updated %}
            <small>
              <i>
                (Mis à jour :{% if post.is_last_updated_past_due %}
                  le {{ post.last_updated|date:'d N à H:i' }})
                {% else %}
                  à {{ post.last_updated|date:'H:i' }})
                {% endif %}
              </i>
              - <i class="bi bi-clock"></i> Temps de lecture : {{ post.get_readtime }}
            </small>
          {% endif %}
        </p>
      </span>
    </div>

    <div class="row row-padding">
      <div class="col d-grid">
        <a class="btn btn-light" href="{% url 'blog:edit' slug=post.slug %}" role="button">Éditer</a>
      </div>
      <div class="col d-grid">
        <a class="btn btn-outline-danger" href="{% url 'blog:delete' slug=post.slug %}" role="button">Supprimer</a>
      </div>
    </div>

    <div class="row row-padding">
      {% if post.tags %}
        <div class="margin-bottom">
          <small><i class="bi bi-tags-fill"></i> Tags :</small>
          <h5>
            {% for tag in post.tags.all %}
              <span class="badge rounded-pill">{{ tag.name }}</span>
            {% endfor %}
          </h5>
        </div>
      {% endif %}
      <p class="justify">{{ post.content|safe|linebreaksbr }}</p>
    </div>
    <div class="row row-padding align-items-center">
      <div class="col-9">
        <div class="row row-padding name float-end">
          <a href="{% url 'accounts:details' slug=post.author|slugify %}"><h3>{{ post.author }}</h3></a>
        </div>
        <div class="row row-padding float-end">
          <p class="fst-italic">"{{ post.author.biography }}"</p>
        </div>
      </div>
      <div class="col-3">
        <a href="{% url 'accounts:details' slug=post.author|slugify %}">
          <div class="row container-circle">
            <div class="circle">
              {% if post.author.thumbnail %}
                <img src="{{ post.author.thumbnail.url }}" alt="{{ post.author }}" />
              {% else %}
                <img src="{% get_media_prefix %}commons/users/user.png" alt="{{ post.author }}" />
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% if post.related_event %}
    <div class="container-fluid bg-light">
      <div class="container container-section">
        <div class="row row-padding">
          <h1>Évènement lié</h1>
        </div>
        <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
          {% include 'events/event_cards.html' with event=post.related_event %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if post.related_artists %}
    <div class="container-fluid">
      <div class="container container-section">
        <div class="row row-padding">
          <h1>Artiste(s) lié(s)</h1>
        </div>
        <div class="row row-padding row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          {% for artist in post.related_artists.all %}
            {% include 'artists/artist_cards.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row">
        <h1>Les commentaires</h1>
        <div class="row row-padding">
          <form action="{% url 'blog:comment' slug=post.slug %}" method="POST">
            {% csrf_token %}
            <div class="form-floating">
              <textarea class="form-control" placeholder="Laisser un commentaire" id="floatingTextarea2" style="height: 100px" name="comment"></textarea>
              <label for="floatingTextarea2">Laisser un commentaire</label>
            </div>
            <button type="submit" class="btn btn-light">Envoyer</button>
          </form>
        </div>
        {% if post.comments %}
          {% for comment in post.comments.all %}
            {% include 'comments.html' %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
