{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Les artistes du moment</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Les artistes</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>La liste des artistes</h1><p>(A-Z)</p>
    </div>
    {% if artists %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for artist in artists %}
          {% include 'artists/artist_cards.html' %}
        {% endfor %}
      </div>
    {% else %}
      <div class="col">
        <div class="row row-padding text-center">
          <h2>Pas d'artistes pour le moment !</h2>
        </div>
      </div>
    {% endif %}
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'artists:create' %}" role="button">Ajouter un artiste</a>
    </div>
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'artists:create_spotify_followings' %}" role="button">Ajouter ses artistes suivis</a>
    </div>
  </div>
{% endblock %}
