{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Les artistes du moment</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Les artistes</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>La liste des artistes</h1><p>(A-Z)</p>
    </div>
    {% if artists %}
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for artist in artists %}
          {% include 'artists/artist_cards.html' %}
        {% endfor %}
      </div>
      <div class="row row-padding">
        <nav>
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1">Début</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              </li>
            {% elif not page_obj.has_previous %}
              <li class="page-item disabled">
                <a class="page-link" href="">Début</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="">&laquo;</a>
              </li>
            {% endif %}

            {% for n in page_obj.paginator.page_range %}
              {% if page_obj.number == n %}
                <li class="page-item active">
                  <span class="page-link">{{ n }}<span class="sr-only"></span></span>
                </li>
              {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ n }}">{{ n }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Fin</a>
              </li>
            {% elif not page_obj.has_next %}
              <li class="page-item disabled">
                <a class="page-link" href="">&raquo;</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="">Fin</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    {% else %}
      <div class="col">
        <div class="row row-padding text-center">
          <h2>Pas d'artistes pour le moment !</h2>
        </div>
      </div>
    {% endif %}
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'artists:create' %}" role="button">Ajouter un artiste</a>
    </div>
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'artists:create_spotify_followings' %}" role="button">Ajouter ses artistes suivis</a>
    </div>
  </div>
{% endblock %}
