{% extends 'base.html' %}

{% block title %}
  <title>Supprimer: {{ artist.name }}</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'artists:list' %}">Les artistes</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'artists:artist' slug=artist.slug %}">{{ artist.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Supprimer</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row margin-bottom text-center">
      <h1 class="text-center">Supprimer {{ artist.name }}</h1>
    </div>

    <div class="row row-padding col-8 mx-auto text-center">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Êtes-vous sûr de vouloir supprimer {{ artist.name }} ?</h3>
        <div class="row">{{ form }}</div>
        <div class="row row-padding">
          <input type="submit" value="Supprimer {{ artist.name }}" class="btn btn-danger" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
