{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ artist.name }}</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% if artist.thumbnail %}
      <div class="row img-bg" style="background:url('{{ artist.thumbnail.url }}'"></div>
    {% endif %}
  </div>

  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'artists:list' %}">Les artistes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ artist.name }}</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>{{ artist.name }}</h1>
    </div>
    <div class="row row-padding text-center">
      {% if artist.spotify %}
        <div class="col">
          <a href="https://open.spotify.com/intl-fr/artist/{{ artist.spotify }}"><img src="{% get_media_prefix %}commons/icons/spotify.png" alt="Spotify de {{ artist.name }}" width="30" height="30" /></a>
        </div>
      {% endif %}
      {% if artist.soundcloud %}
        <div class="col">
          <a href="{{ artist.soundcloud }}"><img src="{% get_media_prefix %}commons/icons/soundcloud.png" alt="Soundcloud de {{ artist.name }}" width="30" height="30" /></a>
        </div>
      {% endif %}
      {% if artist.instagram %}
        <div class="col">
          <a href="{{ artist.instagram }}"><img src="{% get_media_prefix %}commons/icons/instagram.png" alt="Instagram de {{ artist.name }}" width="30" height="30" /></a>
        </div>
      {% endif %}
      {% if artist.facebook %}
        <div class="col">
          <a href="{{ artist.facebook }}"><img src="{% get_media_prefix %}commons/icons/facebook.png" alt="Facebook de {{ artist.name }}" width="30" height="30" /></a>
        </div>
      {% endif %}
    </div>

    <div class="row row-padding">
      <div class="col d-grid">
        <a class="btn btn-light" href="{% url 'artists:edit' slug=artist.slug %}" role="button">Éditer</a>
      </div>
      <div class="col d-grid">
        <a class="btn btn-outline-danger" href="{% url 'artists:delete' slug=artist.slug %}" role="button">Supprimer</a>
      </div>
    </div>

    <div class="row">
      <form action="{% url 'artists:follow' slug=artist.slug %}" method="POST">
        {% csrf_token %}

        {% if request.user not in artist.followers.all %}
          <button type="submit" value="{{ artist.slug }}" class="btn btn-light"><i class="bi bi-bookmark-heart"></i> Suivre l'artiste</button>
        {% else %}
          <button type="submit" value="{{ artist.slug }}" class="btn btn-success"><i class="bi bi-bookmark-heart-fill"></i> Artiste suivi(e) !</button>
        {% endif %}

        {% if artist.followers.count > 0 %}
          <p>{{ artist.followers.count }} followers</p>
        {% endif %}
      </form>
    </div>

    <div class="row">
      <div class="clearfix">
        <h3>Biographie</h3>
        {% if artist.playlist %}
          <iframe class="col-md-6 float-md-end mb-3 ms-md-3" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ artist.playlist }}?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        {% endif %}
        <p class="justify">{{ artist.biography|safe|linebreaksbr }}</p>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Sera présent(e)</h1>
      </div>

      {% if artist.events %}
        <div class="row row-padding row-cols-1 row-cols-md-4 g-4">
          {% for event in artist.events.all %}
            {% include 'events/event_cards.html' %}
          {% endfor %}
        </div>
      {% else %}
        <div class="col">
          <h5>Pas encore de date annoncée !</h5>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row">
        <h1>Les commentaires</h1>
        <div class="row row-padding">
          <form action="{% url 'comments:comment' slug=artist.slug type='artist' %}" method="POST">
            {% csrf_token %}
            <div class="form-floating">
              <textarea class="form-control" placeholder="Laisser un commentaire" id="floatingTextarea2" style="height: 100px" name="comment"></textarea>
              <label for="floatingTextarea2">Laisser un commentaire</label>
            </div>
            <button type="submit" class="btn btn-light">Envoyer</button>
          </form>
        </div>
        {% if artist.comments %}
          {% for comment in artist.comments.all %}
            {% include 'comments.html' %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
