{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Confirmer l'import de {{ nb_artists }} artistes suivis</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'artists:list' %}">Les artistes</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Importer les artistes suivis</li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>Import terminé</h1>
    </div>
    {% if artists %}
      <div class="row row-padding margin-bottom">
        <h5>L'import de {{ nb_artists }} artistes suivis s'est correctement déroulé</h5>
      </div>
      <div class="row margin-bottom">
        <h5>Artistes créés</h5>

        <table class="table table-hover">
          <tbody>
            {% for artist in artists %}
              <tr>
                <th scope="row">
                  <div class="container-circle container-circle-navbar">
                    <div class="circle">
                      {% if artist.thumbnail %}
                        <img src="{{ artist.thumbnail.url }}" alt="{{ artist.title }}" />
                      {% else %}
                        <img src="{% get_media_prefix %}commons/users/user.png" alt="{{ artist.name }}" />
                      {% endif %}
                    </div>
                  </div>
                </th>
                <td>
                  <a href="{% url 'artists:artist' slug=artist.slug %}">{{ artist.name }}</a>
                </td>
                {% if artist.tags %}
                  <td>
                    {% for tag in artist.tags.all %}
                      <span class="badge rounded-pill">{{ tag.name }}</span>
                    {% endfor %}
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="col">
        <div class="row row-padding text-center">
          <h2>Aucun nouvel artiste à créer !</h2>
        </div>
      </div>
    {% endif %}
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'artists:create' %}" role="button">Ajouter un artiste</a>
    </div>
  </div>
{% endblock %}
