{% load static %}
<div class="col row-padding artist-card">
  <a href="{% url 'artists:artist' slug=artist.slug %}">
    <div class="row container-circle">
      <div class="circle">
        {% if artist.thumbnail %}
          <img src="{{ artist.thumbnail.url }}" alt="{{ artist.title }}" />
        {% else %}
          <img src="{% get_media_prefix %}commons/users/user.png" alt="{{ artist.name }}" />
        {% endif %}
      </div>
    </div>
    <div class="row text-center name">
      <h5>{{ artist.name }}</h5>
    </div>
  </a>
</div>
