{% extends 'base.html' %}

{% block title %}
  <title>Réinitialisation du mot de passe</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'login' %}">Connexion</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Réinitialiser le mot de passe</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>Réinitialisation du mot de passe</h1>
    </div>
    <div class="row row-padding col-8 mx-auto">
      <div class="col">
        <p class="text-center">Vous avez oublié votre mot de passe ? Saisissez votre e-mail ci-dessous et nous vous enverrons les instructions pour en créér un nouveau</p>
        <form method="POST">
          {% csrf_token %}
          <div class="row">{{ form }}</div>
          <div class="row row-padding">
            <input type="submit" role="button" value="Réinitialiser le mot de passe" class="btn btn-submit btn-light" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
