{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  <title>{% trans 'Password reset complete' %}</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'login' %}">Connexion</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {% trans 'Password reset complete' %}
        </li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="text-center">{% trans 'Password reset complete' %}</h1>
    </div>
    <div class="row row-padding col-8 mx-auto">
      <div class="col">
        <p class="text-center">
          Votre mot de passe a été réinitialisé ! Vous pouvez vous connecter avec votre nouveau mot de passe <a href="{{ login_url }}">en cliquant ici.</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
