{% extends 'base.html' %}

{% block title %}
  <title>Réinitialisation du mot de passe</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'login' %}">Connexion</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Réinitialiser le mot de passe</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="text-center">Réinitialisation du mot de passe</h1>
    </div>
    <div class="row row-padding col-8 mx-auto">
      {% if validlink %}
        <div class="col">
          <p class="text-center">Entrez votre nouveau mot de passe ci-dessous pour le réinitialiser</p>
          <form method="POST">
            {% csrf_token %}
            <div class="row">{{ form }}</div>
            <div class="row row-padding">
              <input type="submit" role="button" value="Utiliser ce nouveau mot de passe" class="btn btn-submit btn-light" />
            </div>
          </form>
        </div>
      {% else %}
        Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
      {% endif %}
    </div>
  </div>
{% endblock %}