{% extends 'base.html' %}

{% block title %}
  <title>Créer mon compte</title>
{% endblock %}

{% block content %}
<div class="container breadcrumbs-section">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
      <li class="breadcrumb-item"><a href="{% url 'login' %}">Connexion</a></li>
      <li class="breadcrumb-item active" aria-current="page">Créer mon compte</li>
    </ol>
  </nav>
</div>
  <div class="container">
    <div class="row">
      <h1 class="text-center">Créer mon compte</h1>
    </div>
    <div class="row row-padding col-8 mx-auto">
      <div class="col">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">{{ form }}</div>
          <div class="row row-padding">
            <input type="submit" role="button" value="Créer mon compte" class="btn btn-submit btn-light" />
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
