{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Les artistes du moment</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:details' slug=user.slug %}">{{ user.username }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Mes artistes suivi(e)s</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>Mes artistes suivi(e)s</h1><p>(A-Z)</p>
    </div>
    {% if user.fan.all %}
      <div class="row row-padding margin-bottom col-6 mx-auto">
        <div class="search-container">
          <input id="search_artist" type="text" class="form-control search-input" placeholder="Rechercher..." />
          <i class="bi bi-search search-icon"></i>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        {% for artist in user.fan.all %}
          {% include 'artists/artist_cards.html' %}
        {% endfor %}
      </div>
    {% else %}
      <div class="col">
        <div class="row row-padding text-center">
          <h2>Pas d'artistes pour le moment !</h2>
        </div>
      </div>
    {% endif %}
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'artists:list' %}" role="button">Aller à la page des artistes</a>
    </div>
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'artists:follow_spotify_followings' %}" role="button">Suivre ses artistes de Spotify</a>
    </div>
  </div>
{% endblock %}
