{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ artist.name }}</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% if user.thumbnail %}
      <div class="row img-bg" style="background:url('{{ user.thumbnail.url }}'"></div>
    {% endif %}
  </div>

  <div class="container container-section">
    <div class="row text-center">
      <div class="col">
        <h1>{{ user.username }}</h1>
        {% if user.author %}<h5>Organisateur</h5>{% else %}<h5>Utilisateur</h5>{% endif %}
        <p>{{ user.town }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col d-grid">
        <a class="btn btn-light" href="{% url 'accounts:edit' slug=user.slug %}" role="button">Éditer</a>
      </div>
      <div class="col d-grid">
        <a class="btn btn-outline-danger" href="{% url 'accounts:delete' slug=user.slug %}" role="button">Supprimer</a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3>Biographie</h3>
        <p class="justify">{{ user.biography|safe|linebreaksbr }}</p>
      </div>
    </div>
  </div>

  {% if user.author %}
    <div class="container-fluid bg-dark">
      <div class="container container-section">
        <div class="row">
          <h1 class="text-light">Mes events</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">
          {% for event in user.author.all %}
            <div class="col">
              <div class="card h-100">
                {% if event.thumbnail %}
                  <a href="{% url 'events:event' slug=event.slug %}"><img src="{{ event.thumbnail.url }}" class="card-img-top img-fluid" alt="{{ event.title }}" /></a>
                {% else %}
                  <a href="{% url 'events:event' slug=event.slug %}"><div class="card-img-top img-fluid"></div></a>
                {% endif %}
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="headline">
                        <a href="{% url 'events:event' slug=event.slug %}"><h5 class="card-title">{{ event.title|title }}</h5></a>
                        {% if event.is_sponsored %}
                          <p class="fw-lighter fst-italic">- Sponsorisé</p>
                        {% endif %}
                      </div>
                    </div>
                    <div class="col-2">
                      <form action="{% url 'events:interested' slug=event.slug %}" method="POST">
                        {% csrf_token %}
    
                        {% if request.user not in event.interested.all %}
                          <button type="submit" value="{{ event.slug }}" class="btn btn"><i class="bi bi-bookmark-heart"></i></button>
                        {% else %}
                          <button type="submit" value="{{ event.slug }}" class="btn btn"><i class="bi bi-bookmark-heart-fill"></i></button>
                        {% endif %}
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <p class="card-text">{{ event.location }}</p>
                    <p class="card-text">
                      <small class="text-body-secondary">
                        {{ event.date }} |{% if event.price %}
                          {{ event.price }}€
                        {% else %}
                          GRATUIT
                        {% endif %}
                      </small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}