{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Les artistes du moment</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'accounts:details' slug=user.slug %}">{{ user.username }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Mes artistes suivi(e)s</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>Mes artistes suivi(e)s</h1><p>(A-Z)</p>
    </div>
    {% if user.fan %}
      <div class="row row-padding">
        {% for artist in user.fan.all %}
          {% include 'artists/artist_cards.html' %}
        {% endfor %}
      </div>
    {% else %}
      <div class="col">
        <div class="row row-padding">
          <h2>Pas d'artistes pour le moment !</h2>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
