{% extends 'base.html' %}

{% block title %}
  <title>Supprimer mon comptee</title>
{% endblock %}

{% block content %}
<div class="container breadcrumbs-section">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Accueil</a></li>
      <li class="breadcrumb-item"><a href="{% url 'accounts:details' slug=user.slug %}">{{ user.username }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Supprimer mon profil</li>
    </ol>
  </nav>
</div>
  <div class="container container-section">
    <div class="row">
      <h1 class="text-center">Supprimer mon compte</h1>
    </div>
  </div>
  <div class="container container-section">
    <div class="row text-center">
      <h3>Êtes-vous sûr de vouloir nous quitter {{ user.username }} ?</h3>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Supprimer mon compte" class="btn btn-submit btn-light" />
      </form>
    </div>
  </div>
{% endblock %}
