{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    <title>{% trans "Confirm delete user" %}</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        
        <p>Êtes-vous sûr de vouloir nous quitter {{ user.username }} ?</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Supprimer mon compte" />
        </form>

    </div>
</div>
{% endblock %}