{% extends 'base.html' %}

{% block title %}
    <title>Créer un évènement</title>
{% endblock %}

{% block content %}
<div class="container container-section">
    <div class="row">
      <h1 class="text-center">Créer un évènement</h1>
    </div>
  </div>
  <div class="container container-section">
    <div class="row">
        <div class="col">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Créer" class="btn btn-submit">
            </form>
        </div>
    </div>
  </div>
{% endblock %}