{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Les évènements du moment</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Les évènements</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>La liste des évènements</h1>
    </div>
    {% if events %}
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for event in events %}
          {% include 'events/event_cards.html' %}
        {% endfor %}
      </div>
    {% else %}
      <div class="col">
        <div class="row row-padding text-center">
          <h2>Pas d'évènements pour le moment !</h2>
        </div>
      </div>
    {% endif %}
    <div class="row row-padding col-6 mx-auto">
      <a class="btn btn-light" href="{% url 'events:create' %}" role="button">Ajouter un évènement</a>
    </div>
  </div>
{% endblock %}
