{% extends 'base.html' %}

{% block title %}
  <title>Editer l'évènement: {{ event.title }}</title>
{% endblock %}

{% block content %}
  <div class="container container-section">
    <div class="row">
      <h1 class="text-center">Editer l'évènement: {{ event.title }}</h1>
    </div>
  </div>
  <div class="container container-section">
    <div class="row row-padding col-8 mx-auto">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">{{ form }}</div>
        <div class="row row-padding">
          <input type="submit" role="button" value="Créer" class="btn btn-submit btn-light" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
