{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Les évènements du moment</title>
{% endblock %}

{% block content %}
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Les évènements</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="row margin-bottom text-center">
      <h1>La liste des évènements</h1>
    </div>
    <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
      {% for event in events %}
        {% include 'events/event_cards.html' %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
