{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ event.title }}</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% if event.thumbnail %}
      <div class="row img-bg" style="background:url('{{ event.thumbnail.url }}'"></div>
    {% endif %}
  </div>
  <div class="container breadcrumbs-section">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'events:list' %}">Les évènements</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ event.title }}</li>
      </ol>
    </nav>
  </div>
  <div class="container container">
    <div class="row margin-bottom text-center">
      <div class="col">
        <h1>{{ event.title|upper }}</h1>
        <a href="{% url 'accounts:details' slug=event.author.username|slugify %}"><p>Par {{ event.author.username }}</p></a>
      </div>
    </div>
    <div class="row">
      <div class="col d-grid">
        <a class="btn btn-light" href="{% url 'events:edit' slug=event.slug %}" role="button">Éditer</a>
      </div>
      <div class="col d-grid">
        <a class="btn btn-outline-danger" href="{% url 'events:delete' slug=event.slug %}" role="button">Supprimer</a>
      </div>
    </div>

    <div class="row row-padding">
      <div class="col d-grid">
        <a class="btn btn-light" href="" role="button">Billetterie</a>
      </div>
      <div class="col d-grid">
        <div class="row">
          <form action="{% url 'events:interested' slug=event.slug %}" method="POST">
            {% csrf_token %}

            {% if request.user not in event.interested.all %}
              <button type="submit" value="{{ event.slug }}" class="btn btn-light"><i class="bi bi-bookmark-heart"></i> Sauvegarder l'évènement</button>
            {% else %}
              <button type="submit" value="{{ event.slug }}" class="btn btn-success"><i class="bi bi-bookmark-heart-fill"></i> Evenement sauvegardé !</button>
            {% endif %}
          </form>
        </div>
      </div>
      {% if event.interested.count > 0 %}
        <div class="row">
          <p>{{ event.interested.count }} intéressé(e)s</p>
        </div>
      {% endif %}
    </div>

    <div class="row">
      <h3>Les infos</h3>
      {% if event.location %}
        <p>{{ event.location }}</p>
      {% endif %}
      {% if event.address %}
        <p>{{ event.address }}</p>
      {% endif %}
      {% if event.town %}
        <p>{{ event.town }}</p>
      {% endif %}
      <p>
        <small class="text-body-secondary">
          {{ event.starts }} au {{ event.ends }} |{% if event.price %}
            {{ event.price }}€
          {% else %}
            GRATUIT
          {% endif %}
        </small>
      </p>
      {% if event.tags.all %}
        <div class="margin-bottom">
          <h5>
            {% for tag in event.tags.all %}
              <span class="badge rounded-pill">{{ tag.name }}</span>
            {% endfor %}
          </h5>
        </div>
      {% endif %}
      <h3>Description</h3>
      <p>{{ event.content|safe|linebreaks }}</p>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row">
        <h1>La lineup</h1>
        {% if event.artists %}
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            {% for artist in event.artists.all %}
              {% include 'artists/artist_cards.html' %}
            {% endfor %}
          </div>
        {% else %}
          <div class="col">
            <h5>Pas encore d'artistes annoncé(e)s !</h5>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
