{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Nightlife</title>
{% endblock %}

{% block content %}
  {% if events.featured_articles %}
    {% include 'events/home_carrousel.html' %}
  {% endif %}

  <div class="container-fluid">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Les évènements les plus populaires de la semaine</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for event in events.best_events_of_the_week %}
          {% include 'events/event_cards.html' %}
        {% endfor %}
      </div>
      <div class="row row-padding col-6 mx-auto">
        <a class="btn btn-light" href="{% url 'events:list' %}" role="button">Voir tous les évènements</a>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Les artistes du moment</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for artist in events.favourite_artists %}
          {% include 'artists/artist_cards.html' %}
        {% endfor %}
      </div>
      <div class="row row-padding col-6 mx-auto">
        <a class="btn btn-outline-secondary" href="{% url 'artists:list' %}" role="button">Voir tous les artistes</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Les derniers évènements créés</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for event in events.last_events %}
          {% include 'events/event_cards.html' %}
        {% endfor %}
      </div>
      <div class="row row-padding col-6 mx-auto">
        <a class="btn btn-light" href="{% url 'events:list' %}" role="button">Voir tous les évènements</a>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Nos top créateurs</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for user in events.top_promoters %}
          {% include 'registration/user_cards.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
