{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Nightlife</title>
{% endblock %}

{% block content %}
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
        <img src="{% get_media_prefix %}events/3ee28256b81440e3bf19e39193fae067.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
        <img src="{% get_media_prefix %}events/319f109c3bd3497b80aa2a39708be0c5.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
        <img src="{% get_media_prefix %}events/3544c14601e645b5aaf1f7b60f873f01.png" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-fluid">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Les évènements les plus populaires de la semaine</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for event in events.best_events_of_the_week %}
          {% include 'events/event_cards.html' %}
        {% endfor %}
      </div>
      <div class="row row-padding col-6 mx-auto">
        <a class="btn btn-light" href="{% url 'events:list' %}" role="button">Voir tous les évènements</a>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Les artistes du moment</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for artist in events.favourite_artists %}
          {% include 'artists/artist_cards.html' %}
        {% endfor %}
      </div>
      <div class="row row-padding col-6 mx-auto">
        <a class="btn btn-outline-secondary" href="{% url 'artists:list' %}" role="button">Voir tous les artistes</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Les derniers évènements créés</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for event in events.last_events %}
          {% include 'events/event_cards.html' %}
        {% endfor %}
      </div>
      <div class="row row-padding col-6 mx-auto">
        <a class="btn btn-light" href="{% url 'events:list' %}" role="button">Voir tous les évènements</a>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="container container-section">
      <div class="row row-padding">
        <h1>Nos top créateurs</h1>
      </div>
      <div class="row row-padding row-cols-1 row-cols-sm-2 row-cols-md-4">
        {% for user in events.top_promoters %}
          {% include 'registration/user_cards.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
